.addContact {
    background: whitesmoke;
    width: 24rem;
    height: 28rem;
    border: 1px solid black;
    margin-top: 5rem;
    border-radius: 15px;
}

.form {
    margin-left: 83px;
    margin-top: 30px;
}


@media (max-width : 468px) {
    * {
        margin: 0;
        padding: 0;
    }

    .addContact {
        width: 100%;
    }

    .form {
        margin-left: -2px;
    }

}

@media (min-width:469px) and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .addContact {
        width: 100%;
        height: 100%;
    }

    .form {
        margin-left: -2px;
    }
}